body{
background-color: #FFFFFF;
margin: 0;
hyphens: auto;
}

#cim{
	text-align: center;
	font-size: larger;
	font-weight: bold;
}

img{
	width: 450px;
	margin: 8px 0px 8px 0px;
}

#hivatalos
{
	text-decoration: none;
	text-align:center;
	margin: 0.50em 1em 0.50em 1em;
	padding: 0;
}

#contact1{
	text-align:center;
}
#idezet1{
width: 500px;
margin: 0px auto;
padding-bottom: 5px;
}

#szoveg{
margin: 5px 25px auto;
padding-bottom: 2px;
}

/* Felsőmenű stílus beállítása */

#felsomenu {
float: left; 
width: 100%; 
padding: 0;
margin: 0 0 1em 0; 
list-style-type: none; 
background-color: #000; 
}
#felsomenu li { display:inline } 
#felsomenu a {
float:middle;
padding: 0.25em 1em;
margin: 0.25em 0 0.25em 1em; 
color: #DDD;
text-decoration: none;
}
#felsomenu a:hover 
    { 
        background-color:whitesmoke;
    }
p#bekezdes1 {
clear:left;
}

/* Fejléc stílus beállítása */

header {
border-radius: 0px 0px 50px 50px; /* lekerekített sarkok*/
background-color: lightgreen;
color: rgb(253, 253, 253);
padding: 10px;
text-align: center;
font-size:x-small;
}
header img {
display: block;
margin-left: auto;
margin-right: auto;
}
/* Oldal- és nagydoboz stilus beállítása */

div#wrapper {
margin: 45px;
}

#oldaldoboz {
display: table-cell; 
vertical-align: top;
width:175px;
}

nav {
margin: 0px 10px 0px 0px;
top: 0px;
border-radius: 15px;
background-color: #AD6B6B;
text-align: center;
}
nav ul {
list-style-type: none;
margin: 0px;
padding: 20px 5px;
}
nav ul li {
padding: 0px 15px;;
}
nav ul li:active { 
background-color: gray;
}

nav ul a {
text-decoration: none;
color: white;
}
div#tartalom {
display: table-cell;
width: 1050px;
border-radius: 25px;
background-color: D38647;
padding: 20px;
}

/* Blog oldalas stílus beállítása*/

.datum {
    float:left;
    text-align: center;
    padding: 10px;
    border: 2px solid #777;
    border-radius: 5px;
    background-color: rgb(230,230,230);
    width: 50px;
    font-size: small;
    font-weight: bold;
}
.datum span {
    font-size: large;
}
.blogposzt {
    margin-left: 85px;
}
h2 {
    color: green;
}
.nev {
    display: inline;
    color: white;
    margin-right: 20px;
}
#Címke {
    display: inline;
    color: white;
    padding-left: 0px;
    list-style-type: none;
}
 li {
    display: inline;
}
#a {
    margin-right: 25px;
    text-decoration: none;
	color: white;
}

 footer { /*Lábléc stílus beállítása */
border-radius: 50px;
margin: 15px;
padding: 10px;
background-color:darkslategray;
}